.signup-page {

    &__title {
        color: brown;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 2rem;
    }

    &__block-sign {
        display: flex;
        justify-content: space-between;

    }

    &__link-signin {
        align-self: flex-start;
        text-align: center;
        padding: 10px;
        width: 9.3rem;
        font-size: 1.5rem;
        color: black;
        border: 1px solid black;
        background-color: tomato;
        border-radius: 5px;
    }
}