.profile {
    
    &__title {
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }
    &__checkbox {
        margin: 20px;
        width: 20px;
        height: 20px;
    }
    &__label {
        font-size: 30px;
    }
}



