.message-field {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid black;
    overflow:auto;

    &__no-messages {
        color: brown;
        font-size: 20px;
        text-align: center;
   }
}

.message-name-chat {
    text-align: center;
    color: cadetblue;
    margin-top: 20px;
    font-size: 1.5rem;
}

.message-name-chat span {
    color: tomato;
    font-size: 1.5rem;
}