// .container {
//     max-width: 1160px;
//     padding: 0 10px;
//     margin: 0 auto;
//   }
  
  
  // .chats-wrapper {
  //   background-color: rgb(46, 53, 53);
  //   font-family: sans-serif;
  // }
  
  .chats {
    background-color: inherit;
    
  
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 60px;
    }

    &__block-add-chats {
      width: 25%;
      align-self: flex-start;
      margin-top: 35px;
      height: 488px;
    }
  
  }